:root {
    --Main_Color: rgb(17, 18, 22);
    --Second_Color: rgb(43, 45, 51);
    --Third_Color: rgb(43, 177, 255);
    --Font_Color: white;

    /* Font Settings */
    font-size: 16px;
    font-family: "HCo Gotham SSm", Helvetica, Arial, san-serif;;
    color: var(--Font_Color);

    scroll-behavior: smooth;

}

body {
    background-color: var(--Main_Color);
    margin: 0;
    padding: 0;
}

a {
    color: var(--Third_Color);
}

body::-webkit-scrollbar {
    width: 10px;

}

body::-webkit-scrollbar-track {
    background-color: var(--Second_Color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--Third_Color);
    border-radius: 5px;
}

main {
    margin-left: 15vw;
    padding: 1rem;
}

.Navbar {
    width: 15vw;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    transition: all 1s ease;
}

.Navbar::-webkit-scrollbar {
    width: 4px;
}

.Navbar::-webkit-scrollbar-track {
    background-color: var(--Second_Color);
}

.Navbar::-webkit-scrollbar-thumb {
    background-color: var(--Font_Color);
    border-radius: 2.5px;
    transition: all 0.25s;
}

.Navbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--Third_Color);
    border-radius: 2.5px;
    box-shadow: rgba(255, 255, 255, 1) 0px 1px 10px 0px, rgba(255, 255, 255, 1) 0px 2px 10px 2px;
}

.Navbar_Nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Navbar_Item {
    width: 10vw;
    aspect-ratio: 6;
    background-color: var(--Second_Color);

    margin-left: 2vw;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    align-items: start;
    justify-content: start;

    border-radius: 5px;

    transition: all 0.5s ease;

}

.Navbar_Item a {
    text-decoration: none;
    color: var(--Font_Color);

    width: 100%;
    height: 100%;
}

.Navbar_Item:hover {
    background-color: transparent;
    cursor: pointer;
}


.Line_Effect {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--Second_Color);
    border: none;
}

.Horizantal_Video_Container {
    background-color: var(--Second_Color);
    width: 80vw;
    height: 50vh;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: var(--Second_Color) 0px 0px 50px;
}

.Horizantal_Video_Container::-webkit-scrollbar {
    height: 1vh;
}

.Horizantal_Video_Container::-webkit-scrollbar-track {
    background-color: var(--Second_Color);
}

.Horizantal_Video_Container::-webkit-scrollbar-thumb {
    background-color: var(--Font_Color);
    border-radius: 5px;
}

.Video_Container {
    background-color: var(--Main_Color);
    height: 95%;
    aspect-ratio: 1.5;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: var(--Main_Color) 0px 0px 15px;
    display: block;
}

.Video_Container video {
    width: 85%;
    aspect-ratio: 1.5;
    display: block;
    border-radius: 4px;
    margin-left: 6.5%;
    margin-top: 1.5vh;
    border-color: var(--Second_Color);
    border-width: 1px;
    border-style: solid;
}

.Video_Container p {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3vh;
}

#Custom_Debris_Service {
    width: max-content;
    font-size: 50px;
    display: block;
    margin-left: 25%;
}