:root {
    /* Main  */
    --Main-Font-Family: "Playpen Sans";
    --Main-Font-Weight: 250;
    /* Note */
    --Note-Font-Family : "Playpen Sans";
    --Note-Font-Weight: 300;
    /* Title */
    --Title-Font-Family : "Playpen Sans";
    --Title-Font-Weight: 600;
}

p, h1, h2, h3, h4, h5, h6{
    font-family: var(--Main-Font-Family);
    font-weight: var(--Main-Font-Weight);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--Title-Font-Weight);
}

.Title {
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    font-family: var(--Title-Font-Family);
    font-weight: var(--Title-Font-Weight);
}

.List {
    background: rgba(238,238,238,0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 7.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-style: none;
    border-color: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    place-items: center;
    display: inline-block;
   
}

.List p {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}



.Note {
    background: rgba(238,238,238,0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 7.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 5px;
    border-style: none;
    border-color: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--Note-Font-Family);
    font-weight: var(--Note-Font-Weight);
}

.Video-Container {
    width: 460px;
    height: 285px;
    background: rgba(238,238,238,0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 7.5px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.Video-Container video {
    width: 90%;
    background-color: rgba(0, 128, 0, 0.918);
    border-radius: 10px;
    display: grid;
    place-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 0px;
}

.Video-Container h4 {
    display: grid;
    width: 100%;
    height: fit-content;
    font-size: larger;
    margin-top: 5px;
    place-items: center;
    margin-left: 0px;
    margin-right: 0px;
}